asgiref==3.8.1
distlib==0.3.8
Django==5.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
filelock==3.13.3
mysql-connector-python==9.0.0
mysqlclient==2.2.4
platformdirs==4.2.0
setuptools==75.1.0
sqlparse==0.5.1
tzdata==2024.1
virtualenv==20.25.1
virtualenvwrapper-win==1.2.7
whitenoise==6.7.0
